* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(244, 246, 248);
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #616771;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Sections */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #1e293b;
}

/* Skills */
.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills li {
    background: #7a8596;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
}

/* Projects */
.project {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-left: 5px solid #1e293b;
}

/* Contact */
.contact p {
    margin-bottom: 8px;
}

/* Footer */
footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
